@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
